.showcase-jumbotron{
    background: rgb(46, 45, 45) !important;
    height:300px;
    color:white;
}
.form-container{
    width:100vw;
    display:flex !important;
    flex-direction: row
}
.bar{
    width:100vw;
    background:white !important;
    height:3px;
    margin-bottom:10px;
}


/* media queries */
@media (max-width: 768px) {
    .form-container{
        display: flex;
        flex-direction: column
    }
    #search{
        margin-top:0.5rem;
    }
    
 }