.social-links{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem;
}
.social-links a{
    color:darkblue;
}
.card-header{
    background:rgb(80, 90, 90) !important;
    
}
.card-header button{
    color:white !important;
}
.card-body{
    background:rgb(219, 211, 212);
}